{
    "presets": ["next/babel"],
    "env": {
      "test": {
        "plugins": ["transform-dynamic-import",
          ["module-resolver", {
            "root": ["./"],
            "alias": {
              "test": "./test",
              "reducers": "./src/reducers"
            }
          }]]
      }
    }
  }
  